<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url(<%= asset_path 'welcome2.jpg' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
</head>
<body>

<div class="container">

<div class="jumbotron text-dark">
  <h1 class="display-4">Welcome to Siege</h1>
  <p class="lead">Founded April 23, 2022</p>
  <hr class="my-4">
  <p style="text-align: left">
  Welcome to Siege' official clan site.

  A Clan introduction you say? What is there to say? We're just about a year old and we're absolutely thriving as a clan right now. If you're looking for somewhere to come and chill in your downtime then feel free to come and hang out.

  We have members right across the continent which makes the CC active pretty much all day long.

  We host a variety of events & competitions plus PvM Bingo! There's always something going on in our community!

  Well what are you waiting for?! Come and join the CC! See you soon!
  </p>
  <a class="btn btn-secondary btn-lg" href="https://discord.gg/aXYHD6UdQJ" role="button">Join us in Discord</a>
</div>
<br>

  <div class="row">
      <div class="col-sm">
      <div class="card text-dark bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Clan XP Tracker</h5>
          <p class="card-text">Check out your current rank, see how far to your next level or simply compete with your friends.</p>
          <a href="/players" class="btn btn-secondary">Go</a>
        </div>
      </div>
    </div>
        <div class="col-sm">
      <div class="card text-dark bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Leaderboard</h5>
          <p class="card-text">See the full event leaderboard including scores, ranks and more. How close are you to leveling up?</p>
          <a href="/leaderboard" class="btn btn-secondary">Go</a>
        </div>
      </div>
    </div>
        <div class="col-sm">
      <div class="card text-dark bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Clan Events</h5>
          <p class="card-text">Check out all events, past and future! Find out when they start, when they end, and who won.</p>
          <a href="events" class="btn btn-secondary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>