<% content_for :title, "Events" %>
<div class="container-fluid">
  <div class="row">
    <h1 class="text-white align-center">Events</h1>

  </div>
	<div class="row">
   <%  @events.each do |event| %>
		<div class="col-md-4">
			<p>
				<%= render event %>
			</p>
		</div>
    <% end %>
	</div>
  <% if current_user %>
    <%= link_to "Add a new event", new_event_path, :class => "btn btn-outline-warning" %>
  <% end %>
</div>


