<div class="container-fluid text-white">
  <div class="card bg-dark border-secondary" id="<%= dom_id var %>">
    <div class="card-header">
      <h5 class="card-title"> <%=  var.name %> </h5>

    </div>
    <div class="card-body">
      <p class="card-text">
        Description: <%= var.description %>
      </p>
      <p class="card-text">
        Value: <%= var.value %>
      </p>
    </div>
  </div>
</div>