<div id="<%= dom_id var %>">
  <p>
    <strong>Name:</strong>
    <%= var.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= var.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= var.value %>
  </p>

</div>
