<h1>Editing var</h1>

<%= render "form", var: @var %>

<br>

<div>
  <%= link_to "Show this var", @var, :class => "btn btn-secondary" %>
  <%= link_to "Back to vars", vars_path, :class => "btn btn-secondary" %>
</div>
