<p style="color: green"><%= notice %></p>

<%= render @var %>

<br/>

<div>
  <%= link_to "Edit this var", edit_var_path(@var), :class => "btn btn-secondary" %>
  <%= link_to "Back to vars", vars_path, :class => "btn btn-secondary" %>
</div>
