<% content_for :title, "Delete Member" %>
<div class="container-fluid">
  <h1 class="text-white">Are you sure you want to delete <%= @player.name %>?</h1>

  <br>
  </div>

  <div class="container-fluid">
  <br>
  <%= button_to "Yes, I'm sure!", @player, method: :delete, :class => "btn btn-danger" %>
  <br>
  <%= link_to "Nope, go back", root_path, method: :get, :class => "btn btn-info" %>
  <br>
</div>