<div class="container-fluid">
  <h1 class="text-white">Editing player</h1>

  <%= render "form", player: @player %>
  <br>
  </div>

  <div class="container-fluid">
  <br>
  <%= button_to "Delete this player", delete_player_path(@player), method: :get, :class => "btn btn-danger" %>
</div>