<div class="container-fluid class="text-white"">
  <h1 class="text-white">New player</h1>

  <%= render "form", player: @player %>

  <br>

  <%= link_to "Back to members", root_path, method: :get, :class => "btn btn-info" %>
</div>