<% content_for :title, "Achievements" %>
<div class="container-fluid">
  <div class="row">
    <h1 class="text-white align-center">Achievements</h1>

  </div>
	<div class="row">
   <%  @achievements.each do |achievement| %>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<p>
				<%= render achievement %>
			</p>
		</div>
    <% end %>
	</div>
</div>
